<a href="https://colab.research.google.com/github/AIWalaBro/Pandas-/blob/main/pandas_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data selection as series
- Seiries as dictionary

In [ ]:
import pandas as pd
data = pd.Series([1,2,3,4], index= ('a','b','c','d'))
data

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# extende pandas series object
data['e'] = 5

In [ ]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# find a in data
'a' in data

True

In [ ]:
# finding values of index b
data['b']

2

In [ ]:
# fetcching items from the data
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

## Series as an 1-d Array
- slicing by implicit index
- slicing by exlicit index
- masking
- fancy index

In [ ]:
# slcing by implicit index
data['a':'c']

a    1
b    2
c    3
dtype: int64

In [ ]:
# slicing via explicit index
data[1:4]

b    2
c    3
d    4
dtype: int64

In [ ]:
# masking
data[(data>2) & (data<5)]

c    3
d    4
dtype: int64

In [ ]:
#fancy index
data[['a','e']]

a    1
e    5
dtype: int64

## indexers:- loc,iloc,ix

In [ ]:
import pandas as pd
data = pd.Series( ['a','b','c','d'], index =[1,2,3,4])
data

1    a
2    b
3    c
4    d
dtype: object

In [ ]:
# explicit indexing
print(data[1])
print(data[4])

a
d

In [ ]:
# explicit slicing-this is happen with the help of position
print(data[1:4])

2    b
3    c
4    d
dtype: object

- why we are using iloc and loc
- to reduce the confsuion between explicit and implicit indexing we use loc and iloc method

In [ ]:
# loc - loc always aceesee the key wise what the values are assign at key 2
data.loc[2]

'b'

In [ ]:
# this is via index position wise :- 0,1,2,3
data.iloc[2]

'c'

In [ ]:
# this is position wise slicing
data.loc[1:3]

1    a
2    b
3    c
dtype: object

In [ ]:
# iloc will extract index position and their values
data.iloc[1:3]

2    b
3    c
dtype: object

In [ ]:
data.loc[0:2]

1    a
2    b
dtype: object

# Data Selection in DataFrame
- dataframe as an dictionary

In [36]:
import pandas as pd
area = pd.Series({'bhisi':1445,'chimur':123456,'neri':46646,'aamboli':436545})
pop = pd.Series({'bhisi':446545,'chimur':424525,'neri':45542,'aamboli':5452122})
data = pd.DataFrame({'area':area,'population':pop})
data

           area  population
bhisi      1445      446545
chimur   123456      424525
neri      46646       45542
aamboli  436545     5452122

In [ ]:
# add new columhn density
data['density'] = data.area/data.population
data

           area  population   density
bhisi      1445      446545  0.003236
chimur   123456      424525  0.290810
neri      46646       45542  1.024241
aamboli  436545     5452122  0.080069

In [ ]:
# access the density column
data.density

bhisi      0.003236
chimur     0.290810
neri       1.024241
aamboli    0.080069
Name: density, dtype: float64

# Data frame as a 2 dimesional array

In [37]:
# transposing the data
data = data.T
data

             bhisi  chimur   neri  aamboli
area          1445  123456  46646   436545
population  446545  424525  45542  5452122

In [ ]:
data['area']

bhisi        1445
chimur     123456
neri        46646
aamboli    436545
Name: area, dtype: int64

In [9]:
data.values[1]

array([123456, 424525])

- using iloc method

In [17]:
# - accesing all the rows and and 2 column
data.iloc[:,:2]

             bhisi  chimur
area          1445  123456
population  446545  424525

- hybrid approch

In [20]:
# hybrid approch
data.loc[:'area', :'chimur']

      bhisi  chimur
area   1445  123456

In [24]:
data.iloc[:3, :data.columns.get_loc('neri')+1]

             bhisi  chimur   neri
area          1445  123456  46646
population  446545  424525  45542

- modification

In [34]:
# not able to understand how exactly it comes
data.loc[0, 2] = 0.001

In [35]:
data

               bhisi    chimur     neri    aamboli      2
area          1445.0  123456.0  46646.0   436545.0    NaN
population  446545.0  424525.0  45542.0  5452122.0    NaN
0                NaN       NaN      NaN        NaN  0.001

In [38]:
# to do the changes in the datafame because iloc do the changes on exact position
data.iloc[0,2] = 0.2

In [39]:
data

             bhisi  chimur     neri  aamboli
area          1445  123456      0.2   436545
population  446545  424525  45542.0  5452122

- addtional indexing convention

In [45]:
import pandas as pd
area = pd.Series({'bhisi':1445,'chimur':123456,'neri':46646,'aamboli':436545})
pop = pd.Series({'bhisi':446545,'chimur':424525,'neri':45542,'aamboli':5452122})
data = pd.DataFrame({'area':area,'population':pop})
data

           area  population
bhisi      1445      446545
chimur   123456      424525
neri      46646       45542
aamboli  436545     5452122

In [47]:
data['bhisi':'aamboli']

           area  population
bhisi      1445      446545
chimur   123456      424525
neri      46646       45542
aamboli  436545     5452122

In [49]:
data[data.area > 15000]

           area  population
chimur   123456      424525
neri      46646       45542
aamboli  436545     5452122